ul {list-style-type: none;}

:root{
	--fondo:#e8e8e8;
	--conten:#ffffff;
	--primary:#394cfe; 
	--secon:#fa0496;
	--enable:#f3f3f3;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, 
	sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--fondo);
}
.container{
	margin: 100px;
	display: inline-block;
	width: 400px;
	height: 450px;
	background: var(--conten);
	border-radius:5%;
	padding: 20px;
	box-shadow: .1px .2px 3px rgba(0,0,.2);

}
/* Month header */
.month {
  /*padding: 70px ;*/
  padding:20px 0  20px;
  width: 100%;
  /*background: #1abc9c;*/
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
	font-family: sans-serif;
  color: var(--primary);
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  /*padding-top: 10px;*/
  margin: 25px;
}

/* Next button */
.month .next {
  float: right;
 /* padding-top: 10px;*/
 margin: 25px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  /*background-color:#ddd;*/
}

.weekdays li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  /*color: #666;*/
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  /*background: #eee;*/
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 15px;
  padding: 8px;
  
  text-align: center;
 /* margin-bottom: 5px;*/
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white;
  border-radius:50%;
  cursor: pointer;
  transition: 2s;
  
}
.active:hover{
	box-shadow: 1px 0 6px rgba(0,0,.2);
}
.active_fech {
  padding: 5px;
  background: var(--primary);
  color: white;
  border-radius:50%;
  cursor: pointer;
  transition: 2s;
  
}

.task_title{
	font-family: sans-serif;
	display: block;
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
}

.task_container{
	margin-top: 15px;
	display: block;
	width: 100%;
	height: 380px;
	overflow: auto;
}

.task{
	margin-right:18px;
	display: flex;
	flex-direction: row-reverse;	
	margin-top: 20px;
}

.task_item1{
	background: var(--primary);
	color: white;
	text-align: center;
	text-transform: capitalize;
	padding: 10px;
	padding-top: 16px;
	border-radius:15px;
}
.task_item1>span{
	display: inline-block;
	font-size: 10px;
	padding: 10px;
}
.task_item2{
	display: block;
	padding: 10px;
	margin-right:  10px;
	border-radius:15px;
	font-weight: bolder;
    text-transform: capitalize;
}

.task_item2>span{
	display: block;
	font-size: 12px;
}

.task_item3{
	text-transform: capitalize;
	display: block;
	background: var(--enable);
	padding: 10px;
	border-radius:10px;
}
.task_option{
	display: flex;
	/*background: blue;*/
	align-items: center;
	/*justify-content: center;*/
		
}
.task_option_menu,
.task_option_del,
.task_option_edit{
	display: inline-block;
	background: var(--primary);
	color: white;
	padding: 5px;
	margin: 5px;
	border-radius:110px;
	transition: 3s;
}
.task_option_menu:hover,
.task_option_del:hover,
.task_option_edit:hover{
	cursor: pointer;
	background: var(--secon);
	box-shadow: 1px 1px 6px rgba(0,0,.2);
}

.task_option_del,
.task_option_edit{
	display: none;
}
.from{	
	position: absolute;
	display: flex;
	width: 320px;
	height: 170px; 
	top: 70%;
	z-index: 1;
	overflow: hidden;
}

.from_task_note,.from_task{
	margin: 20px;
	outline: none;
	border:2px solid var(--primary);
	padding: 20px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	border-radius: 15px;
	margin-top: 95px;
	transition: 2s;
}

.input_translate_initial{
	transform: translateX(550px); 	
}

.input_translate_fin{
	transform: translateX(0px);
}

.btn_{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 22px;
	color: white;
	transition: 2s;
	margin-top: 90px;
	margin-left: 120px;
	z-index: 999;
}

.btn_:hover{
	cursor: pointer;
	background: var(--secon);
	box-shadow: 1px 1px 6px rgba(0,0,.2);
}

.btn_translate{
	transform: translateX(380px);	
}



